/*body*/

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(31, 68, 37, 0.897);
    color: #333;
    line-height: 1,6;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
width: 100%;
max-width: 400px;
padding: 1rem;
}

.login-card{
    background-color: rgb(126, 175, 76);
    border-radius: 12px;
    width: 500px;
    height: 400px;
}

.logo {
    color: aliceblue;
    text-align: center;
    padding: 1rem;
    font-size: 50px;
}

.subtitulo {
    color: black;
    text-align: center;
    padding: 1.5rem;
}

.input-group {
   margin: 1.5rem;
}

.btn-primary{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    color: white ;
    border-radius: 12;
    width: 100px;
    margin: 0 auto;
    align-items: center;
}

.btn-primary{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    color: white;
    border-radius: 12;
    width: 200px;
    margin: 0 auto;
    align-items: center;
}

.btn-primary:hover {
background-color: rgba(31, 68, 37, 0.897);
}

.footer{
background-color: #059411;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9em;
  border-radius: 10px;
}