* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* padding e borda não aumenta a largura total */
    font-family: Arial, sans-serif;
}
body {
    background-color: rgba(31, 68, 37,0.897);
    display: flex;
    justify-content: center; /* Centraliza o formulário */
    align-items: center; /* Centraliza o formulário  */
    min-height: 100vh; /* 100% da altura da tela */
    padding: 20px;
}
.cadastro-container {
    background-color:  rgb(126, 175, 76); /* Fundo branco para o card do formulário */
    padding: 30px;
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave para efeito de card */
    width: 100%;
    max-width: 450px; /* Largura máxima para o formulário */
}

/* --- Títulos e Subtítulos --- */
.Logo {
    font-size: 2.5rem;
    color: #000000; /* Cor principal para o logo (ex: azul) */
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
    font-size: 0.9rem;
}

/* Grupos de Input */
.input-group {
    margin-bottom: 15px; /* Espaçamento entre os grupos de input */
}

.input-group label {
    display: block; /* Faz a label ocupar sua própria linha */
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
    font-size: 0.9rem;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.input-group input:focus {
    outline: none; /* Remove o contorno padrão do navegador */
    border-color: rgb(126, 175, 76); /* Muda a borda para azul ao focar */
}

/* --- Linhas Separadoras --- */
hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 20px 0; /* Espaçamento para as linhas horizontais */
}


.btn-primary {
    display: block; /* Faz o link se comportar como um bloco  */
    width: 100%;
    padding: 12px;
    text-align: center;
    color: #ffffff;
    background-color:rgb(126, 175, 76); 
    border: none;
    border-radius: 4px;
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave na mudança de cor */
    margin-top: 15px; 
}

.btn-primary:hover {
    background-color: rgba(31, 68, 37,0.897); /* Cor mais escura ao passar o mouse */
}

